*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
   
  }


  .header_top .mg .svg{
    display: none !important;
  }
  .header_top .mg .svg{
    color: white;
  
  }
  .header_top .navbar ul .menu-x{
      display: none;
  }


  @media screen and (max-width: 991px){


    .header_top .navbar .logo {
        font-size: 22px;
    }
    .header_main .he-me-blok h1 {
        font-size: 45px;
    }
    .header_main .he-me-blok .btn {
        font-size: 13px;
    }
    main h1 {
        font-size: 24px;
    }

  }


  
  @media screen and (max-width: 767px){


    .header_top .navbar .logo {
        font-size: 21px;
    }
    .header_main .he-me-blok h1 {
        font-size: 40px;
    }
    .header_main .he-me-blok .btn {
        font-size: 13px;
    }
    main h1 {
        font-size: 24px;
    }

  }

@media screen and (max-width: 650px){
    /* .header_top .mg {   
      } */
      .header_top .mg .svg{
          display: block !important;
          box-shadow: 0px 0px 8px 2px white;
        
      }
      .header_top .navbar ul{
          position: relative;
      }
      .header_top .navbar ul .menu-x{
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
      .header_top .navbar ul{
          position: absolute;
        display: flex;
        align-items: center;
        margin: 0!important;
        flex-direction: column;
        right: -100%;
        top: 50px;
        background-color: white;
        height: 100vh;
        padding: 50px;
        transition: ease all 0.300s;
        position: fixed;
        z-index: 2;
        
      
        
      
      }
      .header_top .navbar ul li a{
          margin: 0 ;
          
      }
      .header_top .navbar ul li .active{
          margin: 0;
      }

  }



  @media screen and (max-width: 767px){


    .header_top .navbar .logo {
        font-size: 20px;
    }
    .header_main .he-me-blok h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .header_main .he-me-blok .btn {
        font-size: 12px;
    }
    main h1 {
        font-size: 23px;
    }

  }




















  

  @media screen and (max-width: 364px){


    .header_top .navbar .logo {
        font-size: 17px;
    }
    .header_main .he-me-blok h1 {
        font-size: 22px;
        line-height: 36px;
    }
    .header_main .he-me-blok .btn {
        font-size: 11px;
        padding: 8px 31px;
    }
    main h1 {
        font-size: 19px;
    }

  }